body {
}
.header {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: black;
  border-radius: 10px;
  background-color: #08D9D6;
}

.btn {
  padding: 5px;
  border-style: none;
  color: aliceblue;
  font-size: x-large;
  border-radius: 10px;
  background-color: #FF2E63;
  /* font-family: 'Mochiy Pop P One', sans-serif; */
  font-family: 'Nunito', sans-serif;
}
.btn:hover {
  background-color: #ff004c;
}
p{
  color: #252A34;
  font-family: 'Mochiy Pop P One', sans-serif;
  margin-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2rem;
}
.joke{
  text-align: center;
}

.button{
  text-align: center;
}

.wrapper{
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
  height: 80vh;
  border-radius: 10px;
  background-color: #EEEEEE;

  -webkit-box-shadow: 10px 10px 20px 0px rgba(180,240,222,1);
  -moz-box-shadow: 10px 10px 20px 0px rgba(180,240,222,1);
  box-shadow: 10px 10px 20px 0px rgba(180,240,222,1);
}
.footer{
  font-weight: 600;
  font-family: 'Nunito', sans-serif;
  margin-top: 10%;
  text-align: center;
  color: black;
}